<!DOCTYPE html>
<html>
<head>
	<title>Result</title>
</head>
<body>
<div>
	<h1>Submitted Information!</h1>
	<table>
		<tr>
			<td>Name:</td>
			<td><%=user.name%></td>
		</tr>
		<tr>
			<td>Location:</td>
			<td><%=user.location%></td>
		</tr>
		<tr>
			<td>Language:</td>
			<td><%=user.language%></td>
		</tr>
		<tr>
			<td>Comment:</td>
			<td></td>
		</tr>
		<tr>
			<td><%=user.comment%></td>
		</tr>

	</table>
	<a href="/">Go Back</a>
</div>
</body>
</html>